body {
    background: var(--mantine-background-start-rgb);
    background: linear-gradient(
            180deg,
            var(--mantine-background-start-rgb) 0%,
            var(--mantine-background-end-rgb) 100%
    ) fixed;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    /*width: 100%;*/
    max-width: 72rem;
    margin: 0 auto;
}

.add-filter {
    align-self: flex-start;
}

.filter-toggle-switch {
    align-self: flex-end;
}


.less-than-sm {
    @media (min-width: 48em) {
        display: none;
    }
}

.sm-or-greater {
    display: none;

    @media (min-width: 48em) {
        display: block;
    }
}